node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
.env.local
.env.*.local
README.md
coverage
.nyc_output
.jest-cache
dist
.DS_Store
*.log
logs
.vscode
.idea
*.swp
*.swo
*~
